@media only screen and (max-width:450px){
   
    .yes{
        
        width: 400px;
        height: 350px;
    }
    .restaurants{
        background-color: lightgray;
        width: 400px;
        flex-direction: column;
       
    }
       
}
*,*::before, *::after {
    box-sizing: border-box;
  }

.ohmyfoodLogo{
   
        display: block;
        margin-left: auto;
        margin-right: auto;
        
      
}

.yes{
    background-color:lightgray;
    
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h1{
    text-align: center;
}
.exploreButton{
    background-color: #9356DC ;
    color: white;
    align-items: center;
    height: 60px;
  width: 250px;
  border-radius: 25px;
 font-size: large;
}
.buttonContainer{
    display: flex;
  justify-content: center;
  align-items: center;
     
}
.ParisBox{
    background-color: rgba(128, 128, 128, 0.712);
    height: 65px;
}

.button{

    justify-content: center;
    align-items: center;
       
    border-radius: 25px;
    display: flex;
  flex-direction: row;
    background-color: lightgray;
    gap: 3em;
    height: 60px;
}
.button:hover{
    background-color: #FF79DA ;
}
.restaurants{
    background-color: lightgray;
   
    display:flex;
    flex-wrap: wrap;
  
}
.restaurantImage{

  width: 350px;
  height: 300px;
  border-radius: 15px;



}
.restaurantBox{
    
    width: 350px;
   position: relative;
    border-radius: 15px;
    background-color: white;
}
.laPaletteImage{
margin-bottom: -4em;
    width: 390px;
    height: 300px;
   
}
.mainBodyPalette{
    background-color: lightgray;
  
   padding-left: 3em;
   padding-right: 3em;
    align-items: center;
    position: relative;
    border-radius: 15px;
    width: 390px;
 
}
.menuItem{
    background-color: white;
 
  border-radius: 15px;
height: 40px;
width: 250px;

opacity: 0;
  animation: 2s fadeIn;
  animation-fill-mode: forwards;
  transition: opacity 1.5s;


}
.menuBox:hover .checkmark{
 animation: spinningCheckmark 2s  0.6s 1;
 visibility:visible;


}


@keyframes spinningCheckmark{
  100% { visibility: visible;
    margin-left: 25px; transform: translate(-40px,0)rotate(-360deg) 
   ;}
}

.favicon{
  width: 40px;
  height: 40px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
 .orderButton{
    background-color: purple;
    color: white;
    width: 250px;
    height: 60px;
    border-radius:15px;
 }
.bastilleContent{
    max-width: max-content;
    margin: auto;
}
.theEnchantedPlateContent{
    max-width: max-content;
    margin: auto;
}
.theFullPaletteContent{
    max-width: max-content;
    margin: auto;
}
.leGourmandContent{
    max-width: max-content;
    margin: auto;
}
.newLabel{
    background-color: #99E2D0;

    position: absolute;
    top: 15px;
   text-align: center;
    right: 16px;
    width: 60px;
    height: 32px;
    line-height: 33px;

}


   
.parent__spinner{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  display:flex;
  justify-content:center;
  align-items: center;
  z-index: 1000;
  height: 100%;
  width: 100%;
  opacity:1;
  animation: fade;
  animation-duration: 0s;
  animation-delay:3s;
  animation-fill-mode: forwards;
  }


.loading__spiner{/*création du loader*/
border: 20px solid white;
border-top:20px solid red;
border-bottom: 20px solid red;
border-radius: 50%;/*arrondi des angles*/
width:100px;
height:100px;
margin: auto;/*placement milieu de page*/
position:absolute;
right:0;
top:0;
bottom:0;
left:0;
animation-name:spin;
animation-duration:3s;
animation-fill-mode:forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    visibility:visible;
  }
  50%{
    transform: rotate(180deg);
    visibility:visible;
  }
  to {
    transform: rotate(360deg);
    visibility:hidden;
  
    height:0;
    width:0;

}
}

@keyframes fade {
from{
  opacity:1;
  display: block;
}
to{
  opacity:0;
  z-index:-100;
  display:none;
  height:0;
  width:0;
  display: none;
  clip-path:circle(0);/* rognage de la totalité donc disparition*/
}
 }

@keyframes monanim {
from{
overflow:hidden;
}
to{
overflow:visible;
}
}


.body {
animation: monanim;
animation-duration: 3s;
}


 
 

.menuBox{
  display: flex;
  flex-direction: row;
  
}

  .checkmark{
  
    visibility: hidden;
  }
  
    
   